@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbarContainer {
    background-color: #00ADB6;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbarContainer h1 {
    font-family: 'Pacifico', cursive;
    color: #FFF;
    font-size: 2em;
    font-weight: 300;
}

.list {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center; 
}

.item a{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.4em;
    padding: 0 1em;
    transition: all .2s linear;
}

.item a:hover{
    color: black;
}

.hamburger{
    display: none;
}

@media(max-width: 630px){
    .navbar {
        flex-direction: column;
    }

    .navbar h1 {
        padding-bottom: .5em;
        border-bottom: 2px solid #FFF;
        width: 100%;
    }

    .list {
        padding-top: 1em;
    }

    .item {
        border-right: 2px solid #FFF;
    }

    .item:nth-last-child(1){
        border-right: none;

    }
}

